<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
</head>
<body>

<h2>Signup</h2>

<input type="text" id="username" placeholder="Username"><br><br>
<input type="email" id="email" placeholder="Email"><br><br>
<input type="password" id="password" placeholder="Password"><br><br>

<button onclick="signup()">Signup</button>

<p id="msg"></p>

<script>
    async function signup() {
        const username = document.getElementById("username").value;
        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;

        const res = await fetch("/signup/", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                username: username,
                email: email,
                password: password
            })
        });

        const data = await res.json();

        if (res.status === 201) {
            document.getElementById("msg").innerText = "Signup successful";
            window.location.href = "/login-page/";
        } else {
            document.getElementById("msg").innerText = data.error;
        }
    }
</script>

</body>
</html>